body{
    margin: 0;
}

#box{
    width: 500px;
    height: 100vh;
    background-color: black;
    position: relative;
    margin: 0 auto;
}

#packman{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 1;
}

.dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
}